<section id="latest-videos">
    <h2>Latest YouTube Videos</h2>
    <!-- Add latest YouTube videos here -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XH6VwguxNbA?si=s8lvLHqXSUdtd57y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>